In [2]:
import requests
import pandas as pd
import time
import random
import re
import numpy as np
import _pickle as pickle
from tqdm.notebook import tqdm
from bs4 import BeautifulSoup as bs
from scipy.stats import halfnorm

In [4]:
from itertools import permutations
 
# Get all permutations of length 4
categories = ["Style"]
perm = permutations(["Classic", "Elegant", "Dramatic", "Feminine", "Sexy", "Masculine", "Romantic", "Casual", "Streetwear", "Glam", "Minimalist", "Vintage", "Boho", "Editorial", "Androgynous", "Edgy", "Preppy", "Maximalist"], 4)
styles = []
# Print the obtained permutations
for i in list(perm):
    styles.append(', '.join(i))
# styles = np.array(styles)
# Creating a DF from the style permutations
random.shuffle(styles)
styles = pd.DataFrame(styles, columns=["Profiles"])

In [5]:
styles

                                          Profiles
0                  Masculine, Casual, Preppy, Glam
1                 Masculine, Glam, Vintage, Preppy
2                  Sexy, Feminine, Edgy, Editorial
3        Classic, Editorial, Androgynous, Feminine
4      Maximalist, Androgynous, Elegant, Masculine
...                                            ...
73435          Preppy, Casual, Romantic, Editorial
73436         Editorial, Maximalist, Edgy, Elegant
73437    Dramatic, Streetwear, Feminine, Editorial
73438    Maximalist, Minimalist, Classic, Feminine
73439     Glam, Androgynous, Maximalist, Editorial

[73440 rows x 1 columns]

In [6]:
# Creating a DF of the style categories
style_df = pd.DataFrame(columns=categories)
print(style_df)
# Filling in Data
for i in style_df.columns:
    
    # Range of numbers to represent different labels in each category
    style_df[i] = np.random.randint(0,18, styles.shape[0])
    
    # Logic: The numbers represent a specific choice within the categories
    # So your number 1 preferred category will have a one and the least will have 18 etc.

Empty DataFrame
Columns: [Style]
Index: []

In [7]:
style_df

       Style
0         15
1         12
2          8
3          9
4          2
...      ...
73435      6
73436      9
73437      2
73438     16
73439      7

[73440 rows x 1 columns]

In [8]:
# Joining the two dataframes
final_df = styles.join(style_df)
final_df

                                          Profiles  Style
0                  Masculine, Casual, Preppy, Glam     15
1                 Masculine, Glam, Vintage, Preppy     12
2                  Sexy, Feminine, Edgy, Editorial      8
3        Classic, Editorial, Androgynous, Feminine      9
4      Maximalist, Androgynous, Elegant, Masculine      2
...                                            ...    ...
73435          Preppy, Casual, Romantic, Editorial      6
73436         Editorial, Maximalist, Edgy, Elegant      9
73437    Dramatic, Streetwear, Feminine, Editorial      2
73438    Maximalist, Minimalist, Classic, Feminine     16
73439     Glam, Androgynous, Maximalist, Editorial      7

[73440 rows x 2 columns]

In [3]:
with open("profiles.pkl", "wb") as fp:
    pickle.dump(final_df, fp)

NameError: name 'final_df' is not defined

In [26]:
with open("profiles.pkl",'rb') as fp:
    df = pickle.load(fp)

In [7]:
final_df.to_csv (r'profiles_dataframe.csv', index = False, header=True)

NameError: name 'final_df' is not defined

In [42]:
# Removing the numerical data
df = df[['Profiles']]

In [43]:
df

                                          Profiles
0                  Masculine, Casual, Preppy, Glam
1                 Masculine, Glam, Vintage, Preppy
2                  Sexy, Feminine, Edgy, Editorial
3        Classic, Editorial, Androgynous, Feminine
4      Maximalist, Androgynous, Elegant, Masculine
...                                            ...
73443                        Casual/Everyday, nice
73444                        Casual/Everyday, nice
73445                        Casual/Everyday, nice
73446                        Casual/Everyday, nice
73447                        Casual/Everyday, nice

[73448 rows x 1 columns]

In [44]:
from numpy.ma.core import default_fill_value
# Probability dictionary
p = {}
style_types = ["Classic", "Elegant", "Dramatic", "Feminine", "Sexy", "Masculine", 
               "Romantic", "Casual", "Streetwear", "Glam", "Minimalist", "Vintage", 
               "Boho", "Editorial", "Androgynous", "Edgy", "Preppy", "Maximalist"]

p['style'] = [0.11, 0.10, 0.07, 0.13, 0.04, 0.06,
              0.06, 0.04, 0.01, 0.01, 0.10, 0.03,
              0.03, 0.07, 0.02, 0.04, 0.01, 0.07]

# Age (generating random numbers based on half normal distribution)
age = halfnorm.rvs(loc=18,scale=8, size=df.shape[0]).astype(int)
# gender = pd.DataFrame(columns=["Gender"])
gender = []
for i in range(df.shape[0]):
    # Range of numbers to represent different labels in each category
    number = random.randint(0, 2)
    if number == 1:
      gender.append("Female")
    elif number == 2:
      gender.append("Non-Binary")
    else:
      gender.append("Male")
# gender = pd.DataFrame(gender, columns=["Gender"])
rate = halfnorm.rvs(loc=20,scale=50, size=df.shape[0]).astype(int)

In [45]:
df

                                          Profiles
0                  Masculine, Casual, Preppy, Glam
1                 Masculine, Glam, Vintage, Preppy
2                  Sexy, Feminine, Edgy, Editorial
3        Classic, Editorial, Androgynous, Feminine
4      Maximalist, Androgynous, Elegant, Masculine
...                                            ...
73443                        Casual/Everyday, nice
73444                        Casual/Everyday, nice
73445                        Casual/Everyday, nice
73446                        Casual/Everyday, nice
73447                        Casual/Everyday, nice

[73448 rows x 1 columns]

In [46]:
# final_categories = [style_types, age, gender, rate]
final_categories = [style_types, age, rate]
# names = ["Style", "Age", "Gender", "Rate"]
names = ["Style", "Age", "Rate"]
combined = dict(zip(names, final_categories))

### Make random values for every category

In [47]:
# Looping through and assigning random values
for name, categories in combined.items():
    if name == 'Age' or name == 'Rate':
        # Generating random ages based on a normal distribution
        df[name] = categories
        
    else:
        # Picking 3 from the list 
        try:
            df[name] = list(np.random.choice(categories, size=(df.shape[0],1,4), p=p[name]))
        except:
            df[name] = list(np.random.choice(categories, size=(df.shape[0],1,4)))
        
        df[name] = df[name].apply(lambda x: list(set(x[0].tolist())))

/var/folders/jt/9fgtl63s7gv_96_wct99jv2c0000gn/T/ipykernel_90670/133301745.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name] = list(np.random.choice(categories, size=(df.shape[0],1,4)))
/var/folders/jt/9fgtl63s7gv_96_wct99jv2c0000gn/T/ipykernel_90670/133301745.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name] = df[name].apply(lambda x: list(set(x[0].tolist())))
/var/folders/jt/9fgtl63s7gv_96_wct99jv2c0000gn/T/ipykernel_90670/133301745.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name] = categories

In [48]:
df

,Profiles,Style,Age,Rate
0,"Masculine, Casual, Preppy, Glam","[Casual, Boho, Glam, Streetwear]",19,116
1,"Masculine, Glam, Vintage, Preppy","[Maximalist, Casual, Streetwear, Edgy]",23,43
2,"Sexy, Feminine, Edgy, Editorial","[Romantic, Androgynous, Sexy]",21,92
3,"Classic, Editorial, Androgynous, Feminine","[Glam, Boho, Minimalist, Sexy]",22,46
4,"Maximalist, Androgynous, Elegant, Masculine","[Masculine, Romantic, Androgynous, Elegant]",20,73
...,...,...,...,...
73443,"Casual/Everyday, nice","[Classic, Boho, Editorial, Romantic]",29,39
73444,"Casual/Everyday, nice","[Maximalist, Glam, Feminine, Minimalist]",24,126
73445,"Casual/Everyday, nice","[Boho, Minimalist, Streetwear, Elegant]",22,102
73446,"Casual/Everyday, nice","[Classic, Glam, Sexy]",26,27
73447,"Casual/Everyday, nice","[Elegant, Classic, Streetwear, Sexy]",19,22

In [49]:
mapping= pd.DataFrame(columns=['id', 'index'])

In [50]:
mapping

Empty DataFrame
Columns: [id, index]
Index: []

In [55]:
# values from mongo
from mongo_db_integration import get_stylists
from statistics import mean

information = get_stylists()
age = 0
count = -1
ages = {"less than 18": 0, "18 to 34": 1, "35 to 50": 2, "51 to 69": 3, "greater than 69": 4}
clothing = {"Casual/Everyday": "Everyday", "Work": "Work", "Dressy": "Dressy", "Seasonal Update": "Seasonal", "Special Event": "Special"}
print(information)
# for stylist in information:
#     new_mapping = pd.DataFrame(columns=mapping.columns, index=[count+1])
#     count += 1
#     new_profile = pd.DataFrame(columns=df.columns, index=[df.index[-1]+1])
#     interests = stylist['interests'] 
#     _id = stylist['id']
#     new_mapping['id'] = _id
#     new_mapping['index'] = df.index[-1]+1 
#     if not interests:
#         continue
#     age = ages[interests[0]]
#     # print(age, interests)
#     rate = interests[1].replace("$", "")
#     rate = rate.replace("+", "")
#     rate = rate.replace(" ", "")
#     rate = rate.split("-")
#     # rate[0] = int(rate[0])
#     # rate[1] = int(rate[1])
#     rate = list(map(lambda x: int(x), rate))
#     rate = round(mean(rate)) if len(rate) > 1 else rate
#     final_interests = []
#     final_interests.append(clothing[interests[2]])
#     final_interests.append(interests[3])
#     temp = ', '.join([str(interest) for interest in final_interests])
#     new_profile['Profiles'] = temp
#     new_profile['Rate'] = rate
#     new_profile['Age'] = age
#     style_temp = temp.replace(',', '')
#     new_profile['Style'] = style_temp
#     df = pd.concat([df, new_profile])
#     mapping = pd.concat([mapping, new_mapping])

[{'interests': ['less than 18', '$25 - $49', 'Casual/Everyday', 'nice'], 'rate': '24', 'id': 'DeWb44CDI2dUKzqTogwJOO5kbPy2'}, {'interests': ['less than 18', '$25 - $49', 'Casual/Everyday', 'nice'], 'rate': '30', 'id': 'RKXTWv5wclQZL3fvbDOueH05Cp62'}, {'interests': ['less than 18', '$25 - $49', 'Casual/Everyday', 'nice'], 'rate': '26', 'id': 'R7FN0mUijwgzwyaRSZPEsecwVRY2'}, {'interests': ['less than 18', '$25 - $49', 'Casual/Everyday', 'nice'], 'rate': '37', 'id': 'n5qPBLnd5hYfo8rkacIduQUyiKu2'}, {'interests': ['less than 18', '$25 - $49', 'Casual/Everyday', 'nice'], 'rate': '21', 'id': 'aiSxvMlqwmexWjld173WOWaNyrM2'}, {'interests': ['less than 18', '$25 - $49', 'Casual/Everyday', 'nice'], 'rate': '24', 'id': '2et5oBw0y9XGP7ARuCoRlnkE24A2'}, {'interests': ['less than 18', '$25 - $49', 'Casual/Everyday', 'nice'], 'rate': '25', 'id': 'tUtzabB5TIXwxPOoQgsnfbAOqWj1'}, {'interests': ['less than 18', '$25 - $49', 'Casual/Everyday', 'nice'], 'rate': '24', 'id': 'Ns3BasbO3HcqcBU1cWlsuX33oSn2'}]

In [53]:
df

,Profiles,Style,Age,Rate
0,"Masculine, Casual, Preppy, Glam","[Casual, Boho, Glam, Streetwear]",19,116
1,"Masculine, Glam, Vintage, Preppy","[Maximalist, Casual, Streetwear, Edgy]",23,43
2,"Sexy, Feminine, Edgy, Editorial","[Romantic, Androgynous, Sexy]",21,92
3,"Classic, Editorial, Androgynous, Feminine","[Glam, Boho, Minimalist, Sexy]",22,46
4,"Maximalist, Androgynous, Elegant, Masculine","[Masculine, Romantic, Androgynous, Elegant]",20,73
...,...,...,...,...
73451,"Everyday, nice",Everyday nice,0,37
73452,"Everyday, nice",Everyday nice,0,37
73453,"Everyday, nice",Everyday nice,0,37
73454,"Everyday, nice",Everyday nice,0,37
73455,"Everyday, nice",Everyday nice,0,37

In [54]:
with open("refined_profiles.pkl",'wb') as fp:
    pickle.dump(df, fp)

with open("mapping.pkl", "wb") as fp:
    pickle.dump(mapping, fp)